img
{
    float:left;
    margin-right:10px;
}
p
{
    line-height: 1.15em;
}

.card-body
{
    /* background-color:lightgray; */
    color:darkslategrey;
    background-color:white;
    font-weight:bold;
    text-align:justify;
}

.container
{
    margin-top:75px;
}

body{
    background-color:lightgray;
}

.breadcrumb
{
    background-color:white;
}

.border-primary
{
   border:2px;
}
